# Virtual environments
api/venv/
api2/venv/
bnd/venv/

# Large dependency files
*.pyd
*.lib
*.dll
*.whl
*.so

# Model files
api/models/*.pth

# Criminal faces folder (from your previous request)
criminal_faces/

# Other large files
*.zip
*.tar.gz
*.egg
*.bin

# Temporary and cache files
__pycache__/
*.pyc