.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
    overflow: hidden;
  }
  
  .wrapper {
    position: relative;
    width: 800px;
    height: 500px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .login-box, .register-box {
    width: 50%;
    height: 100%;
    padding: 40px;
    background: white;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
  }
  
  .login-box {
    left: 0;
    transform: translateX(0);
    z-index: 2;
    padding-right: 10px;
  }
  
  .register-box {
    right: 0;
    transform: translateX(100%);
    z-index: 1;
  }
  
  .toggle-card {
    position: absolute;
    width: 50%;
    height: 100%;
    background: dodgerblue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    z-index: 3;
    left: 50%;
    cursor: pointer;
  }
  
  .wrapper.active .toggle-card {
    transform: translateX(-100%);
  }
  
  .wrapper.active .login-box {
    transform: translateX(-100%);
    z-index: 1;
  }
  
  .wrapper.active .register-box {
    transform: translateX(0);
    z-index: 2;
  }
  
  .login-box h2, .register-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .login-box input, .register-box input {
    width: 80%;
    padding: 10px;
    
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-box button, .register-box button {
    width: 85%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: dodgerblue;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-box button:hover, .register-box button:hover {
    background: darkblue;
  }
